{% extends 'index.html' %}
{% block content %}
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">University Information+</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/unihome">Home</a>&nbsp;<i
                    class="fa fa-angle-right"></i>
            </li>
            <li><a class="parent-item" href="">About Institution</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Basic Information</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>Basic Information</header>
                <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                    data-upgraded=",MaterialButton">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="panel-button">
                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">print</i>Another action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else
                        here</li>
                </ul>
            </div>
            <form action="/univdetail" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="card-body row">
                
                <div class="col-lg-6 p-t-20">
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                        <input class="mdl-textfield__input" type="text" id="course" name="Type" value="{{value.Type}}" tabIndex="-1">
                        <label for="course" class="pull-right margin-0">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </label>
                        <label for="course" class="mdl-textfield__label">University Type</label>
                        <ul data-mdl-for="course" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">

                            <li class="mdl-menu__item" data-val="DE">Public</li>
                            <li class="mdl-menu__item" data-val="BY">Private</li>
                            <li class="mdl-menu__item" data-val="BY">Semi</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" type="text" id="txtLasttName" name="Name" value="{{value.Name}}" >
                        <label class="mdl-textfield__label">University Name</label>
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" type="number" id="txtRollNo" name="Rank" value="{{value.Rank}}">
                        <label class="mdl-textfield__label">World Ranking</label>
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" type="number" id="txtemail" name="Year" value="{{value.Year}}">
                        <label class="mdl-textfield__label">Year Established</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" type="text" id="txtParentName" name="Departments" value="{{value.Departments}}">
                        <label class="mdl-textfield__label">No of Departments</label>
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" type="text" id="txtParentName" name="Campuses" value="{{value.Campuses}}">
                        <label class="mdl-textfield__label">No of Campuses</label>
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" type="email" id="txtParentName" name="Email" value="{{value.Email}}">
                        <label class="mdl-textfield__label">Offical Email</label>
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" type="url" id="txtParentName" name="Web" value="{{value.Web}}">
                        <label class="mdl-textfield__label">Offical Website</label>
                    </div>
                </div>
                <div class="col-lg-12 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield txt-full-width">
                        <input class="mdl-textfield__input" rows="4" id="text7" name="About" value="{{value.About}}">
                        <label class="mdl-textfield__label" for="text7">About</label>
                    </div>
                </div>
            <!--    <div class="col-lg-12 p-t-20">
                    <label class="control-label col-md-3">Upload Photo
                    </label>
                    <div class="col-md-12">
                        <div id="id_dropzone" class="dropzone" name="Nanda" id="Nanda">
                            <a href="{{value.Upload}}">clickhere</a>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-12 p-t-20">
                    <div
                      class="wrap-input100 validate-input rs1-wrap-input100"
                      data-validate=""
                    >
                      <input
                        type="file"
                        class="form-control-file input100"
                        id="Upload"
                        name="Upload"
                      />
                      <a href="{{value.Upload}}">clickhere</a>
      
                      <span class="focus-input100"></span>
                    </div>
                  </div>

                  
                <div class="col-lg-12 p-t-20 text-center">
                    {% if request.session.Emailemp == None %}
                    <td>
                        <button type="submit" onclick="myguru()"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-pink"
                            data-type="dialog6">Submit</button>
                    </td>
                    {% endif %}
                   <a href="/univcon"> <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-default"
                        >Next</button></a>
                </div>
                
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}