<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

        * {
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Oxygen', sans-serif;
        }
        th{
           font-size: 18px;
        }
        .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

    </style>

</head>

<body>
    {% extends 'dash.html' %}
    {% block content %}
    
    
    <div class="d-sm-flex align-items-center justify-content-between mb-4  mt-lg-4 mt-4">
        <h1 class="h3 mb-0 text-gray-500">Applications</h1>

        <nav aria-label="breadcrumb " style="text-align: center" style="margin-top: 20px;"
            class="d-none d-sm-inline-block btn btn-sm ">
            <ol class="breadcrumb" style="border-radius: 50px;margin-top: 20px" >
                <li class="breadcrumb-item"><a href="/"><span><i class="fas fa-home"
                                style="color: black; margin-right: 10px;"></i></span>Home</a>
                </li>
                <li class="breadcrumb-item active"><a href="/applicants">Applications</a></li>

            </ol>
        </nav>

    </div>
    <div class="d-flex align-items-start container-fluid">
        <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="border: 1px solid black; width: 250px;background-color: #e9ecef;">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" width="50px;" style="border-bottom:1px solid black;padding: .7rem;">All Applications</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" style="border-bottom:1px solid black;padding: .7rem">New Applications</buttona>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="border-bottom:1px solid black;padding: .7rem">Inprogress</button>
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false" style="border-bottom:1px solid black;padding: .7rem">Rejected</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <table id="example" class="table table-borderless table-hover" >
                <thead>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-bottom: 1px solid black  !important">
                        <td>1</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(212, 124, 124);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Reject
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>candaian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td >
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                            
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>spring</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(108, 233, 108);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Accept
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </tfoot>
            </table>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <table id="example1" class="table table-borderless table-hover" >
                <thead>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-bottom: 1px solid black  !important">
                        <td>1</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(212, 124, 124);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Reject
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>candaian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td >
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                            
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>spring</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(108, 233, 108);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Accept
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </tfoot>
            </table>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <table id="example2" class="table table-borderless table-hover" >
                <thead>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-bottom: 1px solid black  !important">
                        <td>1</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(212, 124, 124);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Reject
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>candaian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td >
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                            
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>spring</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(108, 233, 108);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Accept
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </tfoot>
            </table>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <table id="example3" class="table table-borderless table-hover" >
                <thead>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-bottom: 1px solid black  !important">
                        <td>1</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(212, 124, 124);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Reject
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>candaian</td>
                        <td>Fall</td>
                        <td>2011/04/25</td>
                        <td >
                            <div style="background-color: rgba(214, 214, 117, 0.89);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Pending
                            </div>
                            
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Harsha</td>
                        <td>Web Development</td>
                        <td>Indian</td>
                        <td>spring</td>
                        <td>2011/04/25</td>
                        <td>
                            <div style="background-color: rgb(108, 233, 108);border-radius: 50%;padding: 10px;text-align: center;"> 
                                Accept
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-success">
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Nationality</th>
                        <th>Intake</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Accept/Reject</th>
                    </tr>
                </tfoot>
            </table>
          </div>
        </div>
      </div>
    <!--
    <ul class="nav nav-pills mt-3 container" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All Applications</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-newapplications" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">New Applications</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-inprogress" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Inprogress</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-rejected" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Rejected</button>
          </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container mt-5">
                <table id="example" class="table table-borderless table-hover" style="width: 100%;">
                    <thead>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border-bottom: 1px solid black  !important">
                            <td>1</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>candaian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>spring</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        
        </div>
        <div class="tab-pane fade" id="pills-newapplications" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container mt-5">
                <table id="example" class="table table-borderless table-hover" style="width: 100%;">
                    <thead>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border-bottom: 1px solid black  !important">
                            <td>1</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>candaian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>spring</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        
        </div>
        <div class="tab-pane fade" id="pills-inprogress" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="container mt-5">
                <table id="example" class="table table-borderless table-hover" style="width: 100%;">
                    <thead>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border-bottom: 1px solid black  !important">
                            <td>1</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>candaian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>spring</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        
        </div>
        <div class="tab-pane fade" id="pills-rejected" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="container mt-5">
                <table id="example" class="table table-borderless table-hover" style="width: 100%;">
                    <thead>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border-bottom: 1px solid black  !important">
                            <td>1</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>candaian</td>
                            <td>Fall</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Harsha</td>
                            <td>Web Development</td>
                            <td>Indian</td>
                            <td>spring</td>
                            <td>2011/04/25</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="table-success">
                            <th>No</th>
                            <th>Name</th>
                            <th>Program</th>
                            <th>Nationality</th>
                            <th>Intake</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Accept/Reject</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        
        </div>
      </div>
    -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js " ></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
            $('#example1').DataTable();
            $('#example2').DataTable();
            $('#example3').DataTable();
        });
    </script>
    {% endblock %}
</body>

</html>