{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- End Google Tag Manager -->
    <title>Log In</title>



    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap" rel="stylesheet">

    <a href="https://icons8.com/icon/fQDK2sCN4Eh1/google">Google icon by Icons8</a>

</head>
<style type="text/css">
    *{
        font-family: 'Barlow', sans-serif; !important
    }
    .section-heading h4:before {
        right: 110px;
    }

    .section-heading h4 {
        margin-left: -100px
    }

    .section-heading h4:after {
        left: 50px;
    }

    .section-heading h4:after,
    .section-heading h4:before {
        content: "";
        position: absolute;
        top: 60%;
        display: block;
        width: 50px;
        border-top: 2px solid #333;
    }
</style>

<body class="">


    <header style="height: auto !important">
        <!-- Module - Header - Starts-->
        <div class="container-fluid no-gutter">
            <div class="header-container">


                <section class="primary-nav-wrapper">
                    <div class="container no-gutter">
                        <ul class="mobile-menu">
                            <li class="hidden"><a href="#" class="search-call"><span class="icon-search"></span></a>
                            </li>
                            <li><a href="#" class="mobile-nav"><span class="icon-menu"></span></a></li>
                        </ul>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                <h3 class="p-3" style="padding:15px"></h3>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
                                <div class="nav-wraper">

                                    <div class="back-btn-container"><a href="javascript:void(0);"
                                            class="back-btn icon-angle-left">Back<span class="icon-menu"></span></a>
                                    </div>

                                    <div class="nav-inner-container">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid no-gutter">
                        <div class="row">
                            <div class="search-panel">
                                <div class="search-wrapper">
                                    <div class="row">
                                        <div class="hidden-xs hidden-sm col-md-3 no-gutter"></div>
                                        <div class="col-xs-12 col-md-9 no-gutter">
                                            <div class="search-bar">
                                                <div class="form-bar">
                                                    <input id="txtSrch" type="text" autofocus class="input-val">
                                                    <div class="submit-group">
                                                        <div class="icon-search">
                                                            <input id="btnSrch" type="submit" value=""
                                                                class="submit-btn">
                                                        </div>
                                                        <div class="close-form icon-android-close"></div>
                                                    </div>

                                                    <div class="search-dropdown js-dropdown-hidden" id="cntsrch">
                                                        <ul class="list-unstyled"></ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- Module - Book a Hotel - Starts-->
                <div class="book-hotel-slider">
                    <div class="back-btn-container"> <a href="javascript:void(0);" class="back-btn icon-angle-left">BACK
                            TO MENU</a></div>
                    <div class="book-hotel-container">
                        <h2 class="hidden-md hidden-lg">Book a Hotel</h2>
                        <div class="form-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="divError" class="form-field">
                                        <div id="book-hotel-autocomplate"></div>
                                        <div class="field-container no-padding">
                                            <div class="search">
                                                <div class="search-bar">
                                                    <div class="form-bar">
                                                        <input id="book-hotel-search"
                                                            class="input-val ui-autocomplete-input" type="text"
                                                            data-service="/api/en/hotels"
                                                            placeholder="Enter your hotel or destination"
                                                            autocomplete="off">
                                                        <input type="hidden" id="hdnHid" value="" />
                                                        <div class="submit-group">
                                                            <div class="search-link icon-search">
                                                                <input type="submit" value="" class="submit-btn">
                                                            </div>
                                                            <div class="close-search close-form icon-android-close">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="header-search-dropdown"
                                                        class="search-dropdown js-dropdown-hidden no-message">
                                                        <p class="no-result-message hidden">Unfortunately there are no
                                                            results matching your search... </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <h3>Check-in</h3>
                                        <div class="field-container">
                                            <div class="ui-textinput icon-calendar">
                                                <input type="text" id="checkInSelector"
                                                    class="checkInSelector bookHotelCheckIn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <h3>Check-out</h3>
                                        <div class="field-container">
                                            <div class="ui-textinput icon-calendar">
                                                <input type="text" id="checkOutSelector"
                                                    class="checkOutSelector bookHotelCheckOut">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="room-addition-block">
                                    <div class="room-block clearfix">
                                        <h3> <span>Room 1</span><a href="#" class="remove-room"
                                                data-linkid="Header-BookHotel_RemoveRoom">(Remove)</a></h3>
                                        <div class="col-sm-6">
                                            <div class="form-field adults">
                                                <span class="room-details">Adult (Max3)</span>
                                                <div class="field-container">
                                                    <div class="ui-textinput">
                                                        <input type="text" class="numAdult" value="1" disabled>
                                                        <a href="javascript:void(0);" class="icon-plus"
                                                            data-linkid="Header-BookHotel_AddAdult"></a>
                                                        <a href="javascript:void(0);" class="icon-minus"
                                                            data-linkid="Header-BookHotel_RemoveAdult"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-field children">
                                                <span class="room-details">Children (Max2)</span>
                                                <div class="field-container">
                                                    <div class="ui-textinput">
                                                        <input type="text" class="numChildren" value="0" disabled>
                                                        <a href="javascript:void(0);" class="icon-plus"
                                                            data-linkid="Header-BookHotel_AddChild"></a>
                                                        <a href="javascript:void(0);" class="icon-minus"
                                                            data-linkid="Header-BookHotel_RemoveChild"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-room-cta"><a id="btnAddRoom" href="#" class="add-room icon-plus"
                                            data-linkid="Header-BookHotel_AddRoom">Add Room</a></div>
                                </div>
                            </div>
                            <div class="submit-container">
                                <input id="btnBookNow" value='Book Now' type="submit" class="button-secondary"
                                    data-url="http://www.shangri-la.com/landing/reservations/?hid=$hid&amp;check_in=$checkin&amp;check_out=$checkout&amp;lang=en&amp;num_rac=$num_rac"
                                    data-fbcode="SLIM_2016_Global_Website_TheTable_ExtLink_TheTableGC_EN"
                                    data-linkid="Header-BookHotel_Submit">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module - Book a Hotel - Ends-->
                <div class="login-flyout">
                    <div class="back-btn-container"> <a href="javascript:void(0);" class="back-btn icon-angle-left">BACK
                            TO MENU</a></div>
                    <div class="login-flyout-container">
                        <h2 class="hidden-md hidden-lg">Log In</h2>
                        <div class="form-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-7">
                                    <div class="login-field-wrapper">
                                        <form action="/" method="post"
                                            id="flyoutform" name="flyoutform">
                                            <div class="form-field">
                                                <h3>Username</h3>
                                                <div class="field-container">
                                                    <div class="ui-textinput">
                                                        <input id="txtflyooutMembershipNumber"
                                                            name="Email" type="text">
                                                    </div>

                                                </div>
                                                <span class="error-message"> Membership Number is a required field,
                                                    consisting of only numerical digits.</span>
                                            </div>
                                            <div class="form-field">
                                                <h3>Password</h3>
                                                <div class="field-container">
                                                    <div class="ui-textinput">
                                                        <input id="txtflyoutPassword" autocapitalize="none"
                                                            name="Password" type="password">
                                                    </div>
                                                </div>
                                                <span class="error-message">Password is required</span>
                                                <a href="https://www.shangri-la.com/corporate/golden-circle/forgot-password/?WT.mc_id=SLIM_2016_Global_Website_TheTable_ExtLink_TheTableGC_EN"
                                                    target="_blank" class="forget-passwprd">Forgot Password?</a>
                                            </div>
                                            <div class="submit-container">
                                                <input value="Log In" type="submit" class="button-primary">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-5">
                                    <div class="login-content-wrapper">
                                        <div class="form-field">
                                            <h3>Not a Member</h3>
                                            <p>didn't have an acount , join us now </p>
                                            <div class="join-now-cta"><a href="" title="Join Now"
                                                    class="button-secondary">Join Now</a></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Module - Login flyout Ends-->
                <!-- Module - Member flyout starts-->
                <div class="member-login-flyout">
                    <div class="member-login-container">
                        <h2 class="hidden-md hidden-lg">Member Login</h2>
                        <ul>
                            <li><a href="https://www.golden-circle.com/thetable/member-profile/">Member Profile</a></li>
                            <li><a href="https://www.golden-circle.com/thetable/login/LogOut">Log Out</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Module - Member flyout Ends-->
            </div>
        </div>


    </header>


    <form action="/tempvalidator" id="frmLogin" method="post">
		{% csrf_token %}
		<input name="__RequestVerificationToken" type="hidden"
            value="nA0EVMMVM4gi2iZtIGicZvMKkuZkw9aF-svBNWBr63JdM2QmtmPajZFIQiFFdl2qAey9VYp_fe1mZzzyArSWn9nqhnQR1NScaxh6yZqK9js1" />
			
			<section class="login-wrapper">
            <div class="section-row">
                <div class="container">
                    <div class="section-heading" style="margin-top: 80px">
                        <h1>Forgot Password? </h1>
                    </div>
                    <div class="form-container" style="margin-left: 400px;"  >
                        
                        <div class="row">
                            <div class="col-md-6" >
                                    <div class="form-field ">
                                        <label>Temporary Password </label>
                                        <div class="field-container">
                                            <div class="ui-textinput">
                                                <input data-val="true"
                                                    data-val-required="The MembershipNumber field is required."
                                                    id="LoginModel_MembershipNumber" name="temp_pass"
                                                    type="text" value="" />

                                            </div>
                                        </div>
                                    </div>
									<div class="form-field ">
                                        <label>New Password </label>
                                        <div class="field-container">
                                            <div class="ui-textinput">
                                                <input data-val="true"
                                                    data-val-required="The MembershipNumber field is required."
                                                    id="LoginModel_MembershipNumber" name="Password"
                                                    type="password" value="" />

                                            </div>
                                        </div>
                                    </div>
									<div class="form-field ">
                                        <label>Confirmpassword </label>
                                        <div class="field-container">
                                            <div class="ui-textinput">
                                                <input data-val="true"
                                                    data-val-required="The MembershipNumber field is required."
                                                    id="LoginModel_MembershipNumber" name="Confirmpassword"
                                                    type="password" value="" />

                                            </div>
                                        </div>
                                    </div>
									
                                    
                                    


                        
                            </div>


                        
                        

                    </div>
                    <div class="form-cta" style="margin-top: 20px; margin-left: 40px;" >
                        <input value="Reset Password" type="submit" class="button-primary">
                    </div>
					<div class="">
						{% if error2 %}
						<div class="alert alert-warning" role="alert">
							{{error2}}
						</div>
						{% endif %}
					</div>
                </form>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
    </form>
    <script src="/content/js/bundle-login?v=9gCSUQCCB-dvLU5OPJr01VQyhE35ZedQ3dtBqOYiw3Q1"></script>






   




</html>