
{% extends 'agent_portal/nav.html' %}
{% block content %}

<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Applications</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                    href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li><a class="parent-item" href="">Applications</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">All Applications</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line">

            <div class="tab-content">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Accepted Applications</header>

                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <div class="btn-group">

                                            </div>
                                        </div>

                                    </div>
                                    <div class="table-scrollable">
                                        <table
                                            class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                            id="example4">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th> No </th>
                                                    <th>Std Name </th>
                                                    <th>Uni Name </th>
                                                    <th> Program</th>
                                                    <th>Application Date</th>
                                                    <th> Status </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for appli in value.applications %}
                                                <tr class="odd gradeX">
                                                    <td class="patient-img">
                                                        <img src="https://image.shutterstock.com/image-photo/portrait-happy-fashionable-handsome-man-260nw-600200732.jpg"
                                                            alt="">
                                                    </td>
                                                    <td class="left">{{forloop.counter}}</td>
                                                    <td>{{appli.stdname}}</td>
                                                    <td class="left">{{appli.univname}}</td>
                                                    <td> {{appli.program}} </td>
                                                    <td class="left">{{appli.date}}</td>
                                                    <td>{{appli.status}}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                                
                                                


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}
